@using DealershipModel.Entities
@model DealershipModel.Entities.Vehicle

@{
   ViewBag.Title = "title";
}

<img class="col-sm-6" src="@Model.ImgURL" alt="@Model.Year @Model.Make @Model.Model"/>
<div class="col-sm-6">

   <h2>@Model.Year @Model.Make @Model.Model</h2>

   <p>This vehicle for sell at Dealership #@Model.Dealership.Id.ToString("D5")</p>

   <small>Call @Model.Dealership.Phone for more details about this vehicle</small>

</div>


@section map
{
   <div id="dealer">
      <div id="map"></div>
   </div>
}

@section sideNav
{
   <H3>Other Vehicles located at this Dealer</H3>
   @Html.Action("DealerVehicles", new {dealerid = Model.Dealership.Id})
}

@section js
{
   <script>
      $("#car").addClass("active");
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

   <script>
      var map;
      var pos;

      function initMap() {

         var mapDiv = document.getElementById('map');
         map = new google.maps.Map(mapDiv, {
            center: {
               lat: @Model.Dealership.Address.Latitude,
               lng: @Model.Dealership.Address.Longitude,
            },
            zoom: 17
         });
         var marker = new google.maps.Marker(
         {
            position: {
               lat: @Model.Dealership.Address.Latitude,
               lng: @Model.Dealership.Address.Longitude,
            },
            map: map,
            title: "Dealership #@Model.Dealership.Id"
         });
         if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
               pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
               };

               infoWindow.setPosition(pos);
               infoWindow.setContent('Your Location.');
               $("#geoLocOption").removeClass("collapse");
               $("#UseLoc").checked=true;
               $("#Lat").val(pos.lat);
               $("#Lng").val(pos.lng);
            }, function() {
               handleLocationError(true, infoWindow, map.getCenter());
            });
         } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
         }
      }
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
         $("#geoLocOption").addClass("collapse");
         infoWindow.setPosition(pos);
         infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
      }

   </script>
}
