@using System.Collections.Generic
@model DealershipMVC.Models.FilterViewModel


@using (Ajax.BeginForm("FilterLocations", new AjaxOptions {HttpMethod = "Post", UpdateTargetId = "dealerList", OnSuccess = ""}))
{
   <div>
      <p>Only show dealerships that match the following criteria.</p>
   </div>
   <div>
      <p id="geoLocOption" class="collapse">@Html.CheckBoxFor(m => m.UseLoc) Use Current Location?</p>
      Dealerships that are @Html.EditorFor(m => m.Miles) miles from
      <span id="LocFilter1" class="collapse">Current Location</span>
      <span id="LocFilter2" >
   @Html.TextBoxFor(m => m.ZipCode, new Dictionary<string, object>
      {
         {"placeholder", "Postal Code"}
      })
   or @Html.TextBoxFor(m => m.City, new Dictionary<string, object>
         {
            {"placeholder", "City"}
         })
   @Html.TextBoxFor(m => m.State, new Dictionary<string, object>
      {
         {"placeholder", "State"}
      })
</span>
   </div>
   <div>
      Dealerships that have vehicles that are:

      @Html.DropDownListFor(m => m.Year, Model.Years)
      @Html.DropDownListFor(m => m.Make, Model.Makes)
      @Html.DropDownListFor(m => m.Model, Model.Models)
   </div>
   <button type="submit" class="btn">Update Filter</button>
   @Html.HiddenFor(m=>m.Lat)
   @Html.HiddenFor(m=>m.Lng)
}

