@using System.Web.Optimization
@model DealershipModel.Entities.Dealership[]

@{
   ViewBag.Title = "title";
}

@section map{
   <div id="dealer">
      <div id="map"></div>

   </div>
}

@section sideNav{
   <ul class="nav nav-pills nav-stacked">
      <li role="presentation">
         <a id="filter" href="#">Filter Locations</a>
      </li>
   </ul>
   <ul id="dealerList" class="nav nav-pills nav-stacked">

      @*@foreach (var dealership in Model)
      {
         <li role="presentation">
            <a id="@("dealer" + dealership.Id)" href="#">@dealership.Address.City, @dealership.Address.State (Store #:@dealership.Id.ToString("D5"))</a>
            @Html.Hidden("dealerDist" + dealership.Id)
         </li>
      }*@
      @{
         Html.RenderPartial("Dealerships");
      }
   </ul>
}

@section js{
   @Scripts.Render("~/js/Ajax")
   <script>$("#loc").addClass("active")</script>
   <script>
      $("#filter").click(function() {
         $("#filter").toggleClass("active");
         $("#filterData").toggleClass("collapse");
      })
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

   <script>
      var map;
      var pos;
      var FocusMap;

      function initMap() {

         var mapDiv = document.getElementById('map');
         var bounds = new google.maps.LatLngBounds();
         map = new google.maps.Map(mapDiv, {
            center: { lat: @(Model.Sum(d => d.Address.Latitude)/Model.Length), lng: @(Model.Sum(d => d.Address.Longitude)/Model.Length) },
            zoom: 8
         });

         map.fitBounds(bounds);
         var infoWindow = new google.maps.InfoWindow({ map: map });
         if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
               pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
               };

               infoWindow.setPosition(pos);
               infoWindow.setContent('Your Location.');
               map.setCenter(pos);
            }, function() {
               handleLocationError(true, infoWindow, map.getCenter());
            });
         } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
         }

         @foreach (var dealer in Model)
         {
            <text>
         var @("marker" + dealer.Id) = new google.maps.Marker({
            position: {
               lat: @(dealer.Address.Latitude),
               lng: @(dealer.Address.Longitude)
            },
            map: map,
            title: 'Hello World!'
         });


         //$("#locationName").html("@dealer.Address.City Location");
         //$("#manager").html("Managed by: @dealer.Manager");
         //$("#address").html("@dealer.Address.FullAddress");

         //$("#directions").html('<a href="http://maps.google.com/maps?saddr=(' + pos.lat + ',' + pos.lng + ')&daddr=(@dealer.Address.Latitude, @dealer.Address.Longitude)" target="_new">Directions <small>(Open Google maps in a new window.)</small></a>');


         bounds.extend(@("marker" + dealer.Id).getPosition());
         </text>
         }
         FocusMap = function(e) {
            //e.preventDefault();
            //e.stopPropagation();
            map.setZoom(17);
            map.panTo({
               lat: parseFloat($("#DealerLat").val()),
               lng: parseFloat($("#DealerLng").val())
            });
         };

      }

      function UpdateLocation(parameters) {
         $("#directions").href($("#directions").href().replace("CurrentAddress", pos.lat + "," + pos.lng));
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
         infoWindow.setPosition(pos);
         infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
      }


   </script>

}

<div id="filterData" class="collapse">
   @Html.Action("FilterLocations")

</div>

<div id="DealershipDetails">
   <h2 id="locationName"></h2>
   <h6 id="address"></h6>
   <p id="manager"></p>
   <div id="directions"></div>
</div>